* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    background-image: url('https://4kwallpapers.com/images/wallpapers/bmw-m4-competition-3840x1080-17098.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    margin-top: 150px;
    margin-left: 150px;
   
}

.login-box {
    width: 350px;
    background: #fff;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

.login-box h2 {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 10px;
    color: #333;
}

.input-box {
    position: relative;
    margin: 20px 0;
}

.input-box input {
    width: 100%;
    padding: 12px;
    border: 1px solid #bbb;
    border-radius: 6px;
    font-size: 16px;
}

.input-box label {
    position: absolute;
    top: 12px;
    left: 12px;
    color: #999;
    pointer-events: none;
    transition: 0.3s;
}

.btn {
    width: 100%;
    padding: 12px;
    background: #111;
    color: #fff;
    font-size: 18px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 10px;
}

.btn:hover {
    background: #333;
}

p {
    margin-top: 10px;
    text-align: center;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}