/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    background-image: url('https://getwalls.io/wallpapers/309361/2020--04--bmw-m5-e60-8k-4k-pc.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    
}

/* HEADER */
.header-container {
    width: 100%;
    padding: 15px 30px;
    background: #111;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo_image {
    height: 50px;
}

.logo-text {
    font-size: 24px;
    font-weight: bold;
    color: white;
}

.head-items {
    list-style: none;
    display: flex;
    gap: 20px;
}

.head-link {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.head-link:hover {
    color: #00aaff;
}


/* SIGNUP FORM */
.signup-section {
    display: flex;
    justify-content: right;
    margin-top: 100px;
    margin-right: 250px;
}

.signup-form {
    width: 350px;
    background: #9d9999;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

.signup-form h2 {
    text-align: center;
    margin-bottom: 20px;
}

.signup-form input {
    width: 100%;
    padding: 12px;
    margin: 12px 0;
    border: 1px solid #bbb;
    border-radius: 6px;
    font-size: 16px;
}

.signup-form button {
    width: 100%;
    padding: 12px;
    background: #111;
    color: #fff;
    font-size: 18px;
    border: none;
    border-radius: 6px;
    margin-top: 10px;
    cursor: pointer;
}

.signup-form button:hover {
    background: #333;
}

.signup-form p {
    margin-top: 10px;
    text-align: center;
}


/* CONTENT AREA */
.outer {
    width: 100%;
    margin-top: 40px;
    padding: 20px;
}

.inner {
    background: #f4f4f4;
    padding: 20px;
    border-radius: 10px;
}

.para {
    margin-bottom: 20px;
    line-height: 1.6;
    font-size: 16px;
}
