* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.header-container {
    width: 100%;
    padding: 10px 30px;
    background: #111;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 0 0 80px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo_image {
    height: 50px;
}

.logo-text {
    font-size: 24px;
    font-weight: bold;
    color: white;
}

.head-items {
    list-style: none;
    display: flex;
    gap: 20px;
}

.head-link {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.head-link:hover {
    color: #00aaff;
}

.video-section {
    flex: 1;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
} 

.video-section video {
    width: 60%;
    height: 70%;
    display: block;
    object-fit: cover;
    border-radius: 10px;
    position:fixed;
    left: 0;
    width: 100%;
   
}

.content-section {
    text-align: center;
    padding: 30px;
    background: #ffffff;
    flex: 0 0 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-top: 2px solid #333;
}

.content-section h1 {
    font-size: 2.5rem;
    margin: 0;
    color: #333;
    font-weight: bold;
}
